.navbar-main{
    min-height: 100vh;
    font-family: var(--font-navbar);
    position: relative;
}
.btn{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
    display: flex;
    width: 20px;
    height: 20px;
}

.navbar-item{
    cursor: pointer;
}
.logo > img{
    width: 60px;
    height: 60px;
    animation: zoom 1s ease-in-out infinite;
}
.play-btn, .pause-btn{
   
    width: 20px;
    height: 20px;
}

.menu{
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100px;
    z-index: 1;
    transition: .3s;
}

.navbar-item:not(:last-child){
margin-bottom: 30px;
}
.navbar-item{
    position: relative;
  
    font-weight: bold;
    font-size: 2.5em;
    color: var(--color-navbar);
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}