.navbar-main{
    width: 100vw;

   display: flex;
   justify-content: center;
}
.margen{
    display: flex; 
    justify-content: space-around;
    width: 80vw;
    height: 10vh;
}
.navbar{
    font-family: var(--font-navbar);
    color: var(--color-nav_text);
    width: 70vw;
    height: 8vh;
    display: flex;
   align-items: center;
    gap: 20px;
    justify-content: center;
    font-size: 1.5rem;
}
.navbar-item{
    cursor: pointer;
}
.logo > img{
    width: 60px;
    height: 60px;
    animation: zoom 1s ease-in-out infinite;
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}