.navbar-main{
    min-height: 100vh;
    font-family: var(--font-navbar);
    position: relative;
}
.btn{
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 2;
    display: flex;
    width: 20px;
    height: 20px;
}

.navbar-item{
    cursor: pointer;
}
.logo > img{
    width: 60px;
    height: 60px;
    animation: zoom 1s ease-in-out infinite;
}
.play-btn, .pause-btn{
   
    width: 30px;
    height: 30px;
    cursor: pointer;

}
.pause-btn:active,.play-btn:active{
    transform:scale(0.9)
}

.menu{
    background-color: #171717;
    display: flex;
   
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100px;
    z-index: 1;
    transition: .3s;
    opacity:0;
    visibility: hidden;
}
.menu.is-active{
    opacity:1;
    visibility: visible;
}
.menu-list{
    flex-direction: column;
}

.navbar-item:not(:last-child){
margin-bottom: 30px;
}
.navbar-item{
    position: relative;
  
    font-weight: bold;
    font-size: 2.5em;
    color: var(--color-nav_text);
}
.navbar-item:hover{
    color: white;
}
.navbar-item:active{
    transform: scale(0.8);
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}