.load{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 50%;
}

@media only screen and (max-width:768px){
    .load{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
    }
    
}