@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

:root {
  --color-box : #031B34;
  --color-card: #042c54;
  --color-nav_text: #3cb4d8;
  --color-title:#fccd49;
  --color-subtext: #fbb90f;
  --font-navbar:'Caveat', cursive
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
